<%- include("partials/header") %>

<h1>This is Home </h1>

<p><%= content %></p>

<% Blogs.forEach(function(post) { %>
    <h3> <%= post.title %> </h3>
    <p> <%= post.body %> </p>
<% }) %>

<%- include("partials/footer") %>
