<%- include("partials/header") %>

<h1>This is Home </h1>

<p><%= content %></p>

<% for(var i=0; i < Blogs.length; i++) { %>
    <h3> <%= Blogs[i].title %> </h3>
    <p> <%= Blogs[i].body %> </p>
<% } %>

<%- include("partials/footer") %>
